<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Password</title>

    -- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
  integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<!-- Our Custom CSS -->
<link rel="stylesheet" href="/stylesheets/style2.css">



<!-- Font Awesome JS -->
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
  integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
  crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
  integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
  crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="/images/PLVLOGO.png" sizes="16x16 32x32" type="image/png">
</head>
<body>
    
    
</div>
<div class="form-gap" ></div>
<div class="container" >
    <div class="row justify-content-center">
        <div class="col-md-4 col-md-offset-4 shadow p-3 mb-5 rounded"  style="background-color:#173979;">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-upload fa-4x" style="color:#DBD6C2"></i></h3>
                  <h2 class="text-center text-light">Import Account For:</h2>
                  <p class="text-light">Choose the user type you wish to make an account.</p>
                  <div class="panel-body">
                            <form action="/verify/<%= token %>" method="post">
                                <h6 class="text-center text-light">New Password </h6> <br>
                                <input class="form-control" type="password" name="newpassword" id="newpassword">
                                <br><br>
                                <h6 class="text-center text-light">Verify Password</h6> <br>
                                <input  class="form-control" type="password" name="validatepassword" id="validatepassword">
                                <br><br>
                                <input type="hidden" name="usertype" id="usertype" value="<%= usertype %>">
                        
                                <button onclick="checkPassword()" type="button">Change password</button>
                                <button class="btn btn-lg btn-light btn-block text-dark" id="submitform" style="display: none" type="submit"></button>
                            </form>
                          
                         
    
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>

    <script>
        function checkPassword(){

          
            let newpassword = document.getElementById("newpassword").value;
            let validatepassword = document.getElementById("validatepassword").value;

            if (newpassword==validatepassword) {
                
                document.getElementById("submitform").click();
            }else{
                alert("Password is empty not matched!")
            }
        }

    </script>
</body>
</html>