<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/verify/<%= token %>" method="post">
        New Password <br>
        <input type="password" name="newpassword" id="newpassword">
        <br><br>
        Verify Password <br>
        <input type="password" name="validatepassword" id="validatepassword">
        <br><br>
        <input type="hidden" name="usertype" id="usertype" value="<%= usertype %>">

        <button onclick="checkPassword()" type="button">Change password</button>
        <button id="submitform" style="display: none" type="submit"></button>
    </form>

    <script>
        function checkPassword(){

          
            let newpassword = document.getElementById("newpassword").value;
            let validatepassword = document.getElementById("validatepassword").value;

            if (newpassword==validatepassword) {
                
                document.getElementById("submitform").click();
            }else{
                alert("Password is empty not matched!")
            }
        }

    </script>
</body>
</html>