<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Enter your email:
    <br>
    <input type="text" name="email" id="email">
    <br>
    <br>
    <button onclick="resetPassword()">Send reset link</button>
    <br><br><br>
    <div id="response">

    </div>

    <script>
        function resetPassword(){

            let usermail = document.getElementById("email").value;
            let response = document.getElementById("response")

            if (usermail=="") {
                alert("Please enter email");
                return;
            }

            
            fetch('/send-link/'+usermail)

            .then(response => response.json())
            .then((data)=>{
                response.innerHTML = data.res
               
            });

        }
    </script>
</body>
</html>